<style>


body { 
        background: url('resources/background.jpg') no-repeat 50% 50% fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

th{
	text-align: center;

}

table{
	margin: 0 auto;
	border-collapse:collapse;
	border:3px solid grey;
	width: 100%;
	height: 100%;
    table-layout: fixed;
    background:blue;

}

td{
	border:1px solid black;
	min-width: 11.1%;
	height: 100%;
	text-align: center;


}

td > div{
	max-width: 100%;
	height: auto;
	
}

</style>

	<div id="outer">
		<button id="back" type="button" class="btn btn-secondary" ng-click="menu()">Back to Menu</button>				
				<center><h2>{{game.message}}</h2></center>
				<center><button type="button" class="btn btn-success" ng-click="start()" ng-class="{hidden: gameStart}">Ready</button></center>

		 <div class="container-fluid">
		  	<div class="row-fluid">
		   	   <div class="col-md-6">
				<center><p>Your Board</p></center>

		      		<table>
						<tr id ="header">
							<td class="marker"><img class='blank ship-img img-responsive' src='resources/blank.png'></td>
							<td class="marker">A</td>
							<td class="marker">B</td> 
							<td class="marker">C</td>
							<td class="marker">D</td>
							<td class="marker">E</td>
							<td class="marker">F</td>
							<td class="marker">G</td>
							<td class="marker">H</td>
						</tr>
					  <tr>
						<td class="marker">1</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[0][i] == -1}, {hit: game.player.board.grid[0][i] == 1}]">
						<div ng-bind-html="game.player.board.getImage([0, i]) | html"></div>
						</td>

					  </tr>
					  <tr>
						<td class="marker">2</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[1][i] == -1}, {hit: game.player.board.grid[1][i] == 1}]">
						<div ng-bind-html="game.player.board.getImage([1, i]) | html"></div>
						</td>
					  </tr>
					  <tr>
						<td class="marker">3</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[2][i] == -1}, {hit: game.player.board.grid[2][i] == 1}]">
						<div ng-bind-html="game.player.board.getImage([2, i]) | html"></div>
						</td>
					  </tr>
					  <tr>
						<td class="marker">4</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[3][i] == -1}, {hit: game.player.board.grid[3][i] == 1}]">
						<div ng-bind-html="game.player.board.getImage([3, i]) | html"></div>
						</td>
					  </tr>
					  <tr>
						<td class="marker">5</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[4][i] == -1}, {hit: game.player.board.grid[4][i] == 1}]">
						<div ng-bind-html="game.player.board.getImage([4, i]) | html"></div>
						</td>
					  </tr>
					  <tr>
						<td class="marker">6</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[5][i] == -1}, {hit: game.player.board.grid[5][i] == 1}]">
						<div ng-bind-html="game.player.board.getImage([5, i]) | html"></div>
						</td>
					  </tr>
					  <tr>
						<td class="marker">7</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[6][i] == -1}, {hit: game.player.board.grid[6][i] == 1}]">
						<div ng-bind-html="game.player.board.getImage([6, i]) | html"></div>
						</td>
					  </tr>
					  <tr>
						<td class="marker">8</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[7][i] == -1}, {hit: game.player.board.grid[7][i] == 1}]">
						<div ng-bind-html="game.player.board.getImage([7, i]) | html"></div>
						</td>
					  </tr>
					  
		
			
					</table>


				</div><!-- Your board -->


				<div class="col-md-6">
				
					<center><p>Opponent's Board</p></center>
				<table>
						<tr id = "header">
							<td class="marker"><img class='blank ship-img img-responsive' src='resources/blank.png'></td>
							<td class="marker">A</td>
							<td class="marker">B</td> 
							<td class="marker">C</td>
							<td class="marker">D</td>
							<td class="marker">E</td>
							<td class="marker">F</td>
							<td class="marker">G</td>
							<td class="marker">H</td>
						</tr>
					  <tr>
						<td class="marker">1</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[0][i] == -1}, {hit: game.opponent.board.grid[0][i] == 1}]" ng-click="playerAction(0, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([0, i]) | html"></span>
						</td>

					  </tr>
					  <tr>
						<td class="marker">2</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[1][i] == -1}, {hit: game.opponent.board.grid[1][i] == 1}]" ng-click="playerAction(1, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([1, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">3</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[2][i] == -1}, {hit: game.opponent.board.grid[2][i] == 1}]" ng-click="playerAction(2, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([2, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">4</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[3][i] == -1}, {hit: game.opponent.board.grid[3][i] == 1}]" ng-click="playerAction(3, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([3, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">5</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[4][i] == -1}, {hit: game.opponent.board.grid[4][i] == 1}]" ng-click="playerAction(4, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([4, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">6</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[5][i] == -1}, {hit: game.opponent.board.grid[5][i] == 1}]" ng-click="playerAction(5, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([5, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">7</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[6][i] == -1}, {hit: game.opponent.board.grid[6][i] == 1}]" ng-click="playerAction(6, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([6, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">8</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[7][i] == -1}, {hit: game.opponent.board.grid[7][i] == 1}]" ng-click="playerAction(7, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([7, i]) | html"></span>
						</td>
					  </tr>
					  
					  
			
					</table>

				</div><!-- Opponent's board -->
			</div><!-- Row -->

			<div class="row-fluid">
				<div class="col-xs-12">
				<textarea readonly id="game-log">{{game.log}}</textarea>
				</div>
			</div>
		</div><!-- Container -->
</div><!-- Outer -->