<div class="background">
<div class="container">
<center><button ng-click="menu()">Back</button></center>
		<center><h2>{{game.message}}</h2></center>


		<div id="carousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel" data-slide-to="1"></li>
		    
		  </ol>
		 
		  <!-- Wrapper for slides -->
		 <center> <div class="carousel-inner">
		 <div class="item active">
		    	<h3>Your Board</h3>
		      <table>
						<tr id = "header">
							<td class="marker"></td>
							<td class="marker">A</td>
							<td class="marker">B</td> 
							<td class="marker">C</td>
							<td class="marker">D</td>
							<td class="marker">E</td>
							<td class="marker">F</td>
							<td class="marker">G</td>
							<td class="marker">H</td>
						</tr>
					  <tr>
						<td class="marker">1</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[0][i] == -1}, {hit: game.player.board.grid[0][i] == 1}]">
						<span ng-bind-html="game.player.board.getImage([0, i]) | html"></span>
						</td>

					  </tr>
					  <tr>
						<td class="marker">2</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[1][i] == -1}, {hit: game.player.board.grid[1][i] == 1}]">
						<span ng-bind-html="game.player.board.getImage([1, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">3</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[2][i] == -1}, {hit: game.player.board.grid[2][i] == 1}]">
						<span ng-bind-html="game.player.board.getImage([2, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">4</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[3][i] == -1}, {hit: game.player.board.grid[3][i] == 1}]">
						<span ng-bind-html="game.player.board.getImage([3, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">5</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[4][i] == -1}, {hit: game.player.board.grid[4][i] == 1}]">
						<span ng-bind-html="game.player.board.getImage([4, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">6</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[5][i] == -1}, {hit: game.player.board.grid[5][i] == 1}]">
						<span ng-bind-html="game.player.board.getImage([5, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">7</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[6][i] == -1}, {hit: game.player.board.grid[6][i] == 1}]">
						<span ng-bind-html="game.player.board.getImage([6, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">8</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.player.board.grid[7][i] == -1}, {hit: game.player.board.grid[7][i] == 1}]">
						<span ng-bind-html="game.player.board.getImage([7, i]) | html"></span>
						</td>
					  </tr>
					  
		
			
			</table>

		    </div>

		    <div class="item">
		      	<h3>Opponent's Board</h3>
				<table>
						<tr id = "header">
							<td class="marker"></td>
							<td class="marker">A</td>
							<td class="marker">B</td> 
							<td class="marker">C</td>
							<td class="marker">D</td>
							<td class="marker">E</td>
							<td class="marker">F</td>
							<td class="marker">G</td>
							<td class="marker">H</td>
						</tr>
					  <tr>
						<td class="marker">1</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[0][i] == -1}, {hit: game.opponent.board.grid[0][i] == 1}]" ng-click="playerAction(0, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([0, i]) | html"></span>
						</td>

					  </tr>
					  <tr>
						<td class="marker">2</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[1][i] == -1}, {hit: game.opponent.board.grid[1][i] == 1}]" ng-click="playerAction(1, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([1, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">3</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[2][i] == -1}, {hit: game.opponent.board.grid[2][i] == 1}]" ng-click="playerAction(2, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([2, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">4</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[3][i] == -1}, {hit: game.opponent.board.grid[3][i] == 1}]" ng-click="playerAction(3, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([3, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">5</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[4][i] == -1}, {hit: game.opponent.board.grid[4][i] == 1}]" ng-click="playerAction(4, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([4, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">6</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[5][i] == -1}, {hit: game.opponent.board.grid[5][i] == 1}]" ng-click="playerAction(5, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([5, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">7</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[6][i] == -1}, {hit: game.opponent.board.grid[6][i] == 1}]" ng-click="playerAction(6, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([6, i]) | html"></span>
						</td>
					  </tr>
					  <tr>
						<td class="marker">8</td>
						<td ng-repeat="i in range(0,7)" ng-class="[{missed: game.opponent.board.grid[7][i] == -1}, {hit: game.opponent.board.grid[7][i] == 1}]" ng-click="playerAction(7, i)">
						<span ng-bind-html="game.opponent.board.showHitImage([7, i]) | html"></span>
						</td>
					  </tr>
					  
					  
			
			</table>
		    </div>

		    </div></center>
		  </div>
		 
		  <!-- Controls -->
		  <a class="left carousel-control" ng-click="changeSlide()" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		  
		  <a class="right carousel-control" ng-click="changeSlide()" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div> <!-- Carousel -->

</div>
</div>