<!DOCTYPE html>
<html ng-app="battleship">
	<head>
		<title>Battleship!</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>

		<script src="util.js"></script>
		<script src="gameref.js"></script>
		<script src="battleship.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	</head>
	<body ng-controller="MenuController">
		<a href="game.html"><button>Play vs Computer</button></a>
		<h2>Host Game</h2>
		<form>
			Game Name:<input id="gname" type="text"><br>
			Host Name:<input id="hname" type="text"><br>
			Password(Optional):<input id="pw" type="text"><br>
			<button ng-click="hostGame()">Submit</button>
		</form>
		<table>
			<tr>
				<td>Game Name</td>
				<td>Host Name</td>
				<td>Password?</td>
				<td></td>
			</tr>
			<tr ng-repeat="game in games">
				<td>{{game.name}}</td>
				<td>{{game.host}}</td>
				<td>{{game.hasPassword()}}</td>
				<td><button>Join</button>
			</tr>
		</table>
	</body>
</html>