<style>
	body { 
	        background: url('resources/menu_background.jpg') no-repeat 50% 50% fixed; 
	        -webkit-background-size: cover;
	        -moz-background-size: cover;
	        -o-background-size: cover;
	        background-size: cover;
	}

	table{
		background: white;

		border:3px solid black;
	}

	td{
		border:1px solid black;
		min-width: 11.1%;
		height: 100%;
		text-align: center;


	}

</style>

<center><h1>Battleship!</h1></center>
<center><a href="game"><button type="button" class="btn btn-warning">Play vs Computer</button></a><br></center>
<center><button type="button" class="btn btn-success" ng-click="toggleHost()">Host Game</button></center>

<div id="host-form" class="container" ng-class="{hidden: !hostFormTog}">

	<div class="row">
		<center>Game Name:<input id="gname" type="text"></center>
	</div>

	<div class="row">
		<center>Host Name:<input id="hname" type="text"></center>
		

	</div>

	<div class="row">
		<center>Password(Optional):<input id="pw" type="text"></center>

	</div>

	<div class="row">
		<center><button ng-click="hostGame()">Submit</button></center>
	</div>

</div></center>

<center><table>
	<tr>
		<td>Game Name</td>
		<td>Host Name</td>
		<td>Password?</td>
		<td></td>
	</tr>
	<tr ng-repeat="game in games">
		<td>{{game.name}}</td>
		<td>{{game.host}}</td>
		<td>{{game.hasPassword()}}</td>
		<td><button ng-click="joinGame(game)">Join</button>
	</tr>
</table></center>
