.hit{
	background-color: green;
}

.missed{
	background-color: red;
}

.hidden{
	display: none;
}


#game-log{
	margin-top: 5px;
	width: 100%;
	resize: none;
	height: 100px;
	border:2px solid grey;
}


body{
	color: black;
}

#back{
	margin-top: 10px;
	margin-left: 10px;

}


.ship-img{
	max-width: 100%;
	height: auto;

}

.blank{
	opacity: 0;
}



.filler{
	max-width: 100%;
	height: auto;
}

.marker{
	
	background-image: url("resources/sand.jpg");
	border:1px solid grey;

}


.rotate{
	-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

