<!DOCTYPE html>
<html ng-app="yahtzee">
	<head>
		<title>Yahtzee!</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
		<script src="dice.js"></script>
		<script src="util.js"></script>
		<script src="yahtzee.js"></script>
		
	</head>

	<body ng-controller="GameController">
		<!-- whatever current instructions are -->

		<!-- display dice -->
		<canvas id="dice1" ng-click="toggle(0)" height="100" width="100" ng-class="[{selected: die[0].locked}, {unselected: !die[0].locked}]" ></canvas>
		<canvas id="dice2" ng-click="toggle(1)" height="100" width="100" ng-class="[{selected: die[1].locked}, {unselected: !die[1].locked}]"></canvas>
		<canvas id="dice3" ng-click="toggle(2)" height="100" width="100" ng-class="[{selected: die[2].locked}, {unselected: !die[2].locked}]"></canvas>
		<canvas id="dice4" ng-click="toggle(3)" height="100" width="100" ng-class="[{selected: die[3].locked}, {unselected: !die[3].locked}]"></canvas>
		<canvas id="dice5" ng-click="toggle(4)" height="100" width="100" ng-class="[{selected: die[4].locked}, {unselected: !die[4].locked}]"></canvas>

		<button ng-click="roll()">Roll</button>
		<!-- scorecard -->
		<br>
		One's: {{matchNumberScore(1)}}
		<br>
		Two's: {{matchNumberScore(2)}}
		<br>
		Three's: {{matchNumberScore(3)}}
		<br>
		Four's: {{matchNumberScore(4)}}
		<br>
		Five's: {{matchNumberScore(5)}}
		<br>
		Six's: {{matchNumberScore(6)}}
		<br>
		<br>
		Three of a kind: {{ofAKind(3)}}
		<br>
		Four of a kind: {{ofAKind(4)}}
		<br>
		Full House: {{fullHouse()}}
		<br>
		Small Straight: {{smallStraight()}}
		<br>
		Large Straight: {{largeStraight()}}
		<br>
		Yahtzee: {{yahtzee()}}
		<br>
		Chance: {{chance()}}


	<script type="text/javascript">

	</script>
	</body>
</html>